/src/scripts/postBlog.js
/src/scripts/myeasyguide_blogs.csv
/node_modules
node_modules
.env
/generated/prisma
/dist
.DS_Store

# ESLint config build artifacts
eslint.config.*
!eslint.config.mts


#prisma config build artifacts
prisma.config.*
!prisma.config.ts
